/* .comment-view{
    max-height: 0px !important;
} */
.comment-view div img{
    max-height: 650px !important;
}
.exit-button{
    color: white;
    position: absolute;
    top: 25px;
    left: 50px;
}