.hashtag-list{
    /* justify-content: space-between; */
}
.discover-tag{
    border-radius: 50px;
    border: 1px solid #c4c4c499;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 5px;
}
.hashtags a{
    color: black !important;
    outline: none;
}