body {
    /* background-color: red !important; */
}
.title {
    margin-top: 20px;
}

@media only screen and (min-width: 576px){
    .right-border{
        border-right: 1px solid rgba(196, 196, 196,60);
    }
    
    .top-border{
        border-top: 1px solid rgba(196, 196, 196,60);
        margin: 0;
    }
    .bottom-border{
        border-bottom: 1px solid rgba(196, 196, 196,60);
    }
}


@media only screen and (max-width: 576px){
    .video-embded-component{
      margin-top: 50px;
    }
    
}
@media only screen and (min-width: 576px){
    .p-l-15{
        padding-left: 35px !important;
    }
}

.m-r-15{
    margin-right: 15px !important;
}
.vertical-center {
    transform: translate(0,-10%);
  }


a {
    color: black !important;
}