.blog-header{
  overflow: hidden;
  background-color: white !important;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99999;
  border-bottom: 1px solid #C4C4C499;
}

.nav-bar-buttons a{
  margin-left: 20px;
}

.brand-title{
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

.menu-toggle{
  border: solid 1px transparent;
  background-color: transparent;
}

.menu-toggle:hover{
  border: solid 1px black;
}
.nav-bar-buttons{
  z-index: 99999
}

@media only screen and (max-width: 768px) {
  .nav-bar-buttons{
    display:none;
  }
}
@media only screen and (max-width: 576px) {
  .nav-bar-buttons{
    position: absolute;
    padding: 15px;
    top: -16px;
    border-radius: 5px;
    /* border: 1px solid #c4c4c4 !important; */
    backdrop-filter: saturate(180%) blur(10px);
  }
}
@media only screen and (min-width: 576px) {
 
}