
.video-control-feed{

}
.video-feed{
    width: 60%;
    height: auto;
    position: relative;
    max-width: fit-content;
}
.video-feed-item {
    position: absolute;
    /* right: 200px; */
    bottom: 0px;
    /* display: flex; */
}
@media only screen and (min-width: 1000px) {
    .video-feed-item {
        right: 200px !important;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 576px) {
    .video-feed-item {
        right: 100px !important;
    }
}
@media only screen and (max-width: 576px) {
    .video-feed-item {
        right: 50px !important;
    }
    .engagement-icon-v23 {
        width: 30px !important;
        height: 30px !important;
    }
    .engagement-icon-v23 svg{
        width: 20px !important;
        height: 20px !important;
        transform: translateY(0%);
    }
}
@media only screen and (min-width: 576px){
    .engagement-icon-v23 {
        width: 48px !important;
        height: 48px !important;
    }
    .engagement-icon-v23 svg{
        margin: 0;
        transform: translateY(40%);
    }
}
.engagement-icon-v23{
    text-align: center;
    margin: 0;
    background-color: #F1F1F2;
    border-radius: 50px;
    cursor: pointer;
}


.item-action-bar p{
    text-align: center;
}
.container-post{
    margin-right: 50px !important;
}