
h1 {
    font-size: 24px;
    font-weight: 300;
    font-family: sans-serif;
    padding: 10px 30px;
    color: gold;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
  }
  
  label {
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    font: 700 12px sans-serif;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    position: relative;
  }
  
  input {
    position: absolute;
    top: -20px;
  }
  
  input:checked + label {
    color: gold;
  }
  
  [id=grayscale]:checked ~ div video {
    filter: grayscale(1);
  }
  
  [id=sepia]:checked ~ div video {
    filter: sepia(1);
  }
  
  [id=contrast]:checked ~ div video {
    filter: contrast(3);
  }
  
  [id=saturate]:checked ~ div video {
    filter: saturate(4);
  }
  
  [id=hue-rotate]:checked ~ div video {
    filter: hue-rotate(90deg);
  }
  
  [id=blur]:checked ~ div video {
    filter: blur(5px);
  }
  
  [id=tint]:checked ~ div video {
    filter: sepia(1) hue-rotate(200deg);
  }
  
  [id=invert]:checked ~ div video {
    filter: invert(0.8);
  }
  
  [id=opacity]:checked ~ div video {
    filter: opacity(0.5);
  }
  
  [id=inkwell]:checked ~ div video {
    filter: grayscale(1) brightness(0.45) contrast(1.05);
  }
  
  [id=brightness]:checked ~ div video {
    filter: brightness(0.5);
  }
  
  [id=combo]:checked ~ div video {
    filter: contrast(1.4) saturate(1.8) sepia(0.6);
  }
  
  [id=pattern]:checked ~ div:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(22.5deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, transparent);
    background-size: 4px 4px;
  }